<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hdd-module">
  <template>
    <style>
      :host { display: block;}
      .not-load {border:1px solid lightsalmon;padding: 5px;}
      .not-load p {font-size: 13pt;color: lightsalmon;padding: 5px;}
      .ok-load {border:1px solid #007bff;padding: 5px;}
      .ok-load p {font-size: 13pt;color: #007bff;padding: 5px;}
      hr {border:0.3px solid #ddd;}
    </style>
    <template is="dom-if" if="[[isOkHdd]]">
      <div class="ok-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoHdd]]</p>
      </div>
    </template>
    <template is="dom-if" if="[[!isOkHdd]]">
      <div class="not-load">
        <p>[[msg]]</p>
        <hr>
        <p>[[getInfoHdd]]</p>
      </div>
    </template>
  </template>

  <script>
    /**
     * `hdd-module`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HddModule extends Polymer.Element {
      
      static get is() { return 'hdd-module'; }
      
      static get properties() {
        return {
          size: { 
            observer: '_isSize',
            type: Number, value: 256
          },
          speed: { 
            type: String,
            value: 'ssd'
          },
          provider: { 
            type: String, 
            value: 'GFT-México' 
          },
          isOkHdd: {
            type: Boolean,
            notify: true
          },
          msg: {
            type: String,
            value: `No se pudo cargar el disco duro, verifique!`
          },
          getInfoHdd: {
            type: String,
            computed: '_getInfoHdd(size, provider, speed)'
          }
        };
      }

      setDefaultValues() {
        this.size = 256;
        this.speed = 'ssd';
        this.provider = 'GFT-México';
      }

      _isSize(newValue, oldValue) {
        if (!newValue) {
          this.setDefaultValues();
        }
        this.isOkHdd = true;
        this.msg = `Disco duro cargado exitosamente!`;
      }

      _getInfoHdd(size, provider, speed) {
        return size !== undefined ? `Seleccionaste un disco duro 
        ${speed} de ${size}GB (${provider})`: `Se desconocen 
        los datos para el disco duro, verifique!`;
      }
    }
    window.customElements.define(HddModule.is, HddModule);
  </script>
</dom-module>
